<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/style/red.css">
  <title>senate party loyalty</title>
</head>
<body>
  <!-- As a heading -->
  <div>
    <a href="home.html">
      <img class="img-fluid" src="assets/img/tgif-260nw-95440702.png" width="300" height="150"
        class="d-inline-block align-top" alt="Logo TGIF">
    </a>
  </div>
  <header class="m-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="home.html">Home<span
                  class="sr-only">(current)</span></a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Congress 113</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-item"><a href="senate-data.html">Senate</a></li>
                <li class="dropdown-item"><a href="house-data.html">House</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Attandance</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-item"><a href="senate-attendance.html">Senate</a></li>
                <li class="dropdown-item"><a href="house-attendance.html">House</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Party Loyalty</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-item"><a href="senate-party-loyalty.html">Senate</a></li>
                <li class="dropdown-item"><a href="house-party-loyalty.html">House</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>
  </header>
  <section class="m-5">
    <div id="app" class="card d-flex flex-row flex-fill">
      <div class="p-2 w-100">
        <h2>Party Loyalty</h2>
        <div>
          Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be
          the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda.
        </div>
      </div>
      <div class="p-2 container-fluid w-75">
        <h2>Senate at a glance</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Party</td>
              <td>Number of Reps</td>
              <td>% Voted with Party
              </td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Democrats</td>
              <td>{{medD}}</td>
              <td>{{medDPCT}}</td>
            </tr>
            <tr>
              <td>Republicans</td>
              <td>{{medR}}</td>
              <td>{{medRPCT}}</td>
            </tr>
            <tr>
              <td>Independents</td>
              <td>{{medI}}</td>
              <td>{{medIPCT}}</td>
            </tr>
            <tr>
              <td>TOTAL</td>
              <td>{{totVotes}}</td>
              <td>100</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="app2" class="card d-flex flex-row flex-fill">
      <div class="p-2 w-100">
        <h2>Least Loyal (Bottom 10% of Party)</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Name</td>
              <td>Number of Missed Votes</td>
              <td>% Missed</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(a, index) in ascs" :key="index">
              <td>{{a.first_name}} {{a.middle_name}} {{a.last_name}}</td>
              <td>{{a.missed_votes}}</td>
              <td>{{a.missed_votes_pct}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="p-2 w-100">
        <h2>Most Loyal (Top 10% of Party)</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Name</td>
              <td>Number of Missed Votes</td>
              <td>% Missed</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(d, index) in descs" :key="index">
              <td>{{d.first_name}} {{d.middle_name}} {{d.last_name}}</td>
              <td>{{d.missed_votes}}</td>
              <td>{{d.missed_votes_pct}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <footer>
    <div class="card-footer m-5">
      <p class="text-muted text-center">© 2016 | All Right Reserved</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="assets/js/senate-attendance-vue.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>